div#all-musics > div.music {
  box-sizing: border-box;
  background-color: #333;
  background-image: linear-gradient(0deg, hsla(210, 100%, 50%, 0.2) 0%, rgba(33, 33, 100, 0.3) 30%, rgba(33, 33, 33, 0.9) 100%);
  box-shadow: 0 5px 5px hsla(210, 100%, 50%, 0.2);
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border-bottom: 1px solid hsl(210, 100%, 40%);
  /*transition: .25s;*/
}
div#all-musics > div.music:hover {
  background-color: #446;
  border-color: hsla(210, 100%, 60%, 0.3);
  transition: .25s;
}
div#all-musics > div.music:first-child {
  margin-top: 50px;
}
div#all-musics > div.music:last-child {
  margin-bottom: 50px;
}
div#all-musics > div.music + div.music {
  margin-top: 15px;
}
div#all-musics > div.music > p {
  line-height: 22px;
  font-size: 15px;
  word-break: break-all;
}