form#upload-songs {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}
form#upload-songs > div#drag-and-drop-file-handler {
  box-sizing: border-box;
  background-color: #333;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); 
  border: 2px dotted hsl(210, 100%, 50%);
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  height: 200px;
  font-size: 0;
}
form#upload-songs > div#drag-and-drop-file-handler:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  background-color: red;
  vertical-align: middle;
}
form#upload-songs > div#drag-and-drop-file-handler > p {
  font-size: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}